#time-left-section, #started-talking-section #official-title  {
   font-family: Arial, sans-serif;
   font-size: 20px;
   color: #999;
   letter-spacing: -1px;
   /* margin: 0 0 20px 0; */
 }
 #current-time-section span, #officially-together-time-section span {
   font-size: 60px;
   color: #333;
   margin: 0 3px 0 15px;
 }

 #page-header-title {
   text-align: center;
   margin: 0px 0px 50px 0px
 }

 #current-time-section {
   margin: 0px 0px 50px 0px
 }
 
 #next-meet-time-section {
 	display: inline-block;
	font-weight: bold
 }

 #meet-time-value {
   display: -ms-inline-grid
 }

#started-talking-time-value {
 	display: inline-block;
	font-weight: bold
 }

#official-title {
	display: inline-block
}

#time-left-section {
	display: inline-block
}


