#time-left-section, #officially-together-time-section {
   font-family: Arial, sans-serif;
   font-size: 20px;
   color: #999;
   letter-spacing: -1px;
   margin: 0 0 20px 0;
 }
 #current-time-section span, #officially-together-time-section span {
   font-size: 60px;
   color: #333;
   margin: 0 3px 0 15px;
 }

 #page-header-title {
   text-align: center;
   margin: 0px 0px 50px 0px
 }